body {
  font-family: Verdana;
  background-color: #EEF0E5;
  background-size: cover;
  background-position: center;
}

.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  width: 100%;
  height: 100%;
}

.text-isi{
  padding: 15px;
}

.text-isi h1 {
  margin: 0;
  color: #333;
  font-size: 28px;
  font-weight: bold;
}

.text-isi h2 {
  margin: 0;
  color: #333;
  font-size: 22px;
  font-weight: bold;
}

.text-isi p{
  color: #333;
}

.image-nov img {
  max-width: 50%;
  height: auto;
}

.bawah-home{
  padding: 15px;
  align-items: center;
  margin-top: auto;
}

.bawah-home p{
  color: #333;
}

.button-home {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 10px;
  background-color: #2eada7;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 768px) {

  .image-nov img {
    max-width: 100%;
    height: auto;
  }
}
